@model EventBillApplication.Models.UserEntity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEvent.cshtml";
}
@Html.ValidationSummary(true)
<header class="head">
    <div class="main-bar row">
        <div class="col-sm-5 col-lg-6 skin_txt">
            <h4 class="nav_top_align">
                <i class="fa fa-pencil"></i>
                New User
            </h4>
        </div>
        <div class="col-sm-7 col-lg-6">
            <ol class="breadcrumb float-xs-right nav_breadcrumb_top_align">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <i class="fa fa-home" data-pack="default" data-tags=""></i> Dashboard
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">User</a>
                </li>
                <li class="active breadcrumb-item">New User</li>
            </ol>
        </div>
    </div>
</header>
<div class="outer">
    <div class="inner bg-container forms">
        <div class="row">

            <div class="col-xl-12">
                <div class="card m-t-35">
                    <div class="card-header bg-white">
                        User
                    </div>
                    <div class="card-block">
                       @using (Html.BeginForm("Create", "User", null, FormMethod.Post, new { @class = "form-horizontal form-simple" }))
                       {
                        @Html.AntiForgeryToken()
                            <fieldset>
                                <div class="form-group row m-t-35">
                                    <div class="col-lg-3 col-xl-2 text-lg-right">
                                        <label for="name4" class=" form-control-label">Full Name *</label>
                                    </div>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group">


                                            @Html.TextBox("Fullname", "", new { @class = "form-control", @placeholder = "" })
                                            @Html.ValidationMessage("Fullname", new { @class = "text-danger" })
                                         </div>
                                    </div>
                                   
                                </div>
                                  <div class="form-group row m-t-35">
                                       <div class="col-lg-3 col-xl-2 text-lg-right">
                                        <label for="name4" class=" form-control-label">Username *</label>
                                    </div>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group">


                                            @Html.TextBox("Username", "", new { @class = "form-control", @placeholder = "" })
                                            @Html.ValidationMessage("Username", new { @class = "text-danger" })
                                         </div>
                                    </div>
                                
                                        </div>
                               <div class="form-group row m-t-35">
                                       <div class="col-lg-3 col-xl-2 text-lg-right">
                                        <label for="name4" class=" form-control-label">Password *</label>
                                    </div>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group">


                                            @Html.Password("Password", "", new { @class = "form-control", @placeholder = "" })
                                            @Html.ValidationMessage("Password", new { @class = "text-danger" })
                                         </div>
                                    </div>
                                
                                        </div>

                                 <div class="form-group row m-t-35">
                                       <div class="col-lg-3 col-xl-2 text-lg-right">
                                        <label for="name4" class=" form-control-label">UserType</label>
                                    </div>
                                    <div class="col-lg-8 col-xl-4">
                                        <div class="input-group">

                                           @Html.DropDownList("Usertypeid", (IEnumerable<SelectListItem>)ViewBag.usertypelist, new { @class = "form-control chzn-select", @data_placeholder = "Select" })
                                           @* @Html.TextBox("Password", @Model.password, new { @class = "form-control", @placeholder = "Bank Name" })*@
                                            @Html.ValidationMessage("Usertypeid", new { @class = "text-danger" })
                                         </div>
                                    </div>
                                
                                        </div>
                                    <div class="form-group row">
                                        <div class="col-lg-9 push-xl-2 push-lg-3">

                                            <input type="submit" class="btn btn-primary layout_btn_prevent" onclick="" value="Save" />
                                            <input type="button" class="btn btn-warning layout_btn_prevent" onclick="location.href='@Url.Action("Index", "User")'" value="Cancel" />

                                        </div>
                                    </div>
                </fieldset>
                       }
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
   
    //function validate() {

    //    var BranchID = $("#BranchID");
    //    var returnval = true;


    //    if (BranchID.val() == "0") {
    //        // For dropdown
    //        $("#spanerrorid").html("Please Select Branch");
    //        returnval = false;
    //    }
    //    else {
    //        $("#spanerrorid").html(" ");
    //    }
    //    return returnval;
    //}
</script>